{% extends '_base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="jumbotron">
            <img src="static/img/me.jpg">
            <p class="greeting">Hi !!</p>
            <p>I'm <a href="#" data-toggle="name-tooltip"
                      title="Not Really, but this is what everyone calls me and it's my middle name">John</a>, and
                Welcome to my Portfolio...</p>
        </div>
        <p class="lead">I'm an Experienced Python Developer with a Demonstrated History on Web Development, Scripting,
            and Site Reliability Engineering.</p>
        <p>I play well with others, believe in team work, and on time delivery as well as code quality.</p>
        <p>I'm also a Husband, PC Gamer, a Formula 1 fan, a Car Enthusiast and Technology Addict.</p>
        <p>I love challenges. Long nights trying to figure out the best way to solve the given problem is my
            drug.</p>

        <p>If you are looking for someone who is passionate about <strong>Scripting, Automation, Web
            Development</strong> and <strong>Python</strong> you found who you are looking for.</p>

        <p><u>Ohh by the way, did I say I'm a sucker for <strong>Python</strong>?</u></p>

        <p>Want to learn more about me? Please follow the link below and don't be shy to say <strong>HI</strong>.</p>
        <br>
        <p>
            <a class="btn btn-primary btn-large" href="/portfolio">Learn more</a>
        </p>
    </div>
{% endblock %}