{% extends '_base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="jumbotron">
            <img src="static/img/me.jpg">
            <h1>Hi !!</h1>
            <p>I'm John Snow, Welcome to my Portfolio...</p>
        </div>
        <p class="lead">I'm an Experienced Python Developer with a Demonstrated History on Web Development, Scripting,
            and Site Reliability Engineering.</p>
        <p>I play well with others, believe in team work, and on time delivery as well as code quality.</p>
        <p>I'm also a Husband, PC Gamer, a Formula 1 fan, a Car Enthusiast and Technology Addict.</p>
        <p>I love challenges. Long nights trying to figure out what's the best way to solve the given problem is my
            drug.</p>
        <br>
        <p>
            <a class="btn btn-primary btn-large" href="/portfolio">Learn more</a>
        </p>
    </div>
{% endblock %}