{% extends '_base.html' %}
{% block title %}Portfolio{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3 class="text-center">PORTFOLIO</h3>
                <dl class="dl-horizontal">
                    <dt>Expertise:</dt>
                    <dd>Python, "Micro"Frameworks(Flask, Bottle) RESTful, JS, jQuery, HTML, CSS, Sass, Bootstap</dd>
                    <br>
                    <dt>Additional Tools:</dt>
                    <dd>Git, SSH, Jenkins, Atlassian Agile.Scrum.Stash, Bitbucket/GitHub, Splunk, Heroku, AWS(EC2, S3)
                    </dd>
                    <br>
                    <dt>Database:</dt>
                    <dd>MongoDb, Sqlite, MySql</dd>
                </dl>

                <h3>Work History</h3>
                <br>
                <h5>Principal Financial Group -
                    <span class="text-muted">Network Automation Engineer - August 2017 -> Present</span>
                </h5>
                <p>With this consulting role, I am to work with the network team and automate our daily processes as
                    well as bringing the software development to the industry standards with various ways. This position
                    involves technical advising, software development, creating and managing a small DevOps team.</p>
                <br>
                <h5>Meredith Corporation -
                    <span class="text-muted">QA Script Engineer - January 2015 -> August 2017</span>
                </h5>
                <p>Lead technical Scripter for virtually all Meredith Corporate sites including multiple top 200
                    platforms.
                    Used Python to developed corporate wide scripting methodologies, implemented multiple process
                    improvements which lead to significantly fewer production errors.
                </p>
                <br>
                <h5>Easy Automation Inc - <span class="text-muted">GUI Tester, Software Tester - May 2014 -> December 2014</span>
                </h5>
                <p>
                    Extensive experience testing Java/J2EE swing elements. Extensive troubleshooting and debugging
                    focused on functional agile software improvement. Experience with QF-Test, scripting and automated
                    test
                    software.
                </p>

            </div>
        </div>
    </div>
{% endblock %}