{% extends '_base.html' %}
{% block title %}Portfolio{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div>
                <h1 class="text-center text-primary">PORTFOLIO</h1>
                {% include 'extras/info.html' %}
                <div class="container-fluid text-center">
                    <a href="https://www.linkedin.com/in/umut-hocaoglu-0a8319101/" target="_blank"><img
                            src="static/img/linkedin.png"></a>
                    <a href="https://github.com/Leustad" target="_blank"><img src="static/img/github.png"></a>
                </div>
                <hr>
                <dl class="dl-horizontal">
                    <dt>Expertise:</dt>
                    <dd>Python, "Micro"Frameworks(Flask, Bottle), RESTful APIs, JS, jQuery, HTML, CSS, Sass, Bootstap
                    </dd>
                    <br>
                    <dt>Additional Tools:</dt>
                    <dd>Git, SSH, Jenkins, Atlassian Agile/Scrum/Stash, BitBucket/GitHub, Splunk, Heroku, AWS(EC2, S3),
                        Linux/Unix
                    </dd>
                    <br>
                    <dt>Database:</dt>
                    <dd>MongoDb, Sqlite, MySql</dd>
                </dl>
                <div>
                    <p>Here is a copy of my <a href="/static/files/Umut%20Hocaoglu%20-%20%20Resume.pdf"
                                               download>resume</a>.</p>
                    <p class="lead">> I'm an Experienced Python Developer with a Demonstrated History on Web
                        Development,
                        Scripting, and Site Reliability Engineering.</p>
                    <p>> Born and Raised in <a href="https://en.wikipedia.org/wiki/Turkey" target="_blank">Turkey</a>,
                        Developed in the U.S.A</p>
                    <p>> Native in Turkish, fluent in English.</p>
                    <p>> Love to tackle new problems, love the challenge.</p>
                    <p>Some of my pet projects are <a href="/projects">here</a>.</p>
                </div>
                <h2>Work History</h2>
                <div class="portfolio_items">
                    <h4>Principal Financial Group -
                        <small><span class="text-muted">Network Automation Engineer - August 2017 -> Present</span>
                        </small>
                    </h4>
                    <p>With this consulting role, I am to work with the network team and automate our daily processes as
                        well as uplift the software development process to the industry standards in various ways.
                        This position involves technical advising, software development and scripting, creating and
                        managing a small
                        DevOps team and creating the automation infrastructure.</p>
                </div>
                <div class="portfolio_items">
                    <h4>Meredith Corporation -
                        <small><span class="text-muted">QA Script Engineer - January 2015 -> August 2017</span></small>
                    </h4>
                    <p>Lead technical Scripter for virtually all Meredith Corporate sites including multiple top 200
                        platforms.
                        Used Python to developed corporate wide scripting methodologies, implemented multiple process
                        improvements which lead to significantly fewer production errors.
                    </p>
                    <ul>
                        <li>Significant contributor to Meredith’s Google AMP structured page data verification via
                            Python
                            for Better Homes and Gardens online.
                        </li>
                        <li>Prevented Meredith Corporation from spending $150,000 annually for unnecessary technology
                            such as
                            Yottaa
                            via extensive testing which was created with Python.
                        </li>
                        <li>Fitpregnancy.com data migration and reporting integration on a Greenfield redevelopment
                            project
                            with Python.
                        </li>
                        <li>Extensive production testing of shape.com, Parents.com, along with 10+ other major corporate
                            sites with Python.
                        </li>
                        <li>Deep knowledge developing DB tools (MySQL, SqlLite and MongoDB) to assist with
                            multidisciplinary
                            development teams including the core digital development team and multiple QA teams.
                        </li>
                        <li>Extensive knowledge of client-side, server-side SEO and Analytic platforms, problems and
                            solutions.
                        </li>
                    </ul>
                </div>
                <div class="portfolio_items">
                    <h4>Easy Automation Inc -
                        <small><span class="text-muted">GUI Tester, Software Tester - May 2014 -> December 2014</span>
                        </small>
                    </h4>
                    <p>
                        Extensive experience testing Java/J2EE swing elements. Extensive troubleshooting and debugging
                        focused on functional agile software improvement. Experience with QF-Test, scripting and
                        automated test software.
                    </p>
                    <ul>
                        <li>Extensive testing of the new “receiving module” before and after its release.</li>
                        <li>Significant contributor in testing the GUI elements of the main product and all the other
                            secondary products.
                        </li>
                    </ul>
                </div>
                <div class="portfolio_items">
                    <h4>United States Marine Corps. -
                        <small><span class="text-muted">Field Artillery - 2008 -> 2013</span></small>
                    </h4>
                    <p>Extensive experience working with teams in high pressure situations.</p>
                    <ul>
                        <li>Responsible for multi-million dollar hardware and a variety of classified and open computer
                            systems.
                        <li>Extensive leadership experience.</li>
                        <li>Project management experience, with a results driven focus under adverse circumstances and
                            conditions.
                        </li>
                        <li>Awarded multiple commendations for exceptional performance.</li>
                    </ul>
                </div>
                <h2>Education</h2>
                <div class="portfolio_items">
                    <h4>Iowa Lakes Community College –
                        <small><span
                                class="text-muted"> Computer Programming – 2013 -> 2014</span></small>
                    </h4>
                    <ul>
                        <li>Focused on Python, C ++ and VB .Net as well as Web Development</li>
                        <li>Software Development fundamentals</li>
                        <li>Game Development Essentials - Game Level Design</li>
                    </ul>
                </div>
                <div class="portfolio_items">
                    <h4>USMC -
                        <small><span class="text-muted"> Field Artillery – Camp LeJeune, NC – Cannon Crewman – 2008 -> 2013</span>
                        </small>
                    </h4>
                    <ul>
                        <li>Extensive problem solving skills under high pressure.</li>
                        <li>Team work.</li>
                    </ul>
                </div>
                <div class="portfolio_items">
                    <h4>Selcuk University -
                        <small><span
                                class="text-muted">Konya/Turkey - B.A - Statistics - 2002 -> 2007</span></small>
                    </h4>
                    <ul>
                        <li>Took most of the Mathematics Major courses as well as my main courses.</li>
                        <li>My first experience of computer programming was with C Programming and Delphi.</li>
                        <li>Prepared and published my final thesis via Delphi v5 about “Finding the Maximum Likelihood
                            Estimators of some Distributors with Newton – Rhapson Method”.
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
{% endblock %}