h1,h2,h3,h4,h5,h6 {
    font-family: 'Archivo Black', Georgia, Times, serif;
}

p,
div {
    font-family: 'Lora', Helvetica, Arial, sans-serif;
    color: #302C0C;
    font-size: 18px;
}

html {
    height: 100%;
    margin: 0;
    background: #f5e7f4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #dce1ea, #337ab7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #dce1ea, #337ab7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    background-color: #f8f8f8;
}

dt {
    overflow: auto;
    display: block;
    Text-overflow: ellipsis;
    white-space: nowrap;
    /*width: 200px;*/
}

.main-content {
    background-color: #f8f8f8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-height: 1000px;
    position: relative;
}

.jumbotron {
    background-color: #f8f8f8;
}

.jumbotron img {
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.jumbotron p.greeting {
    color: #337ab7;
    font-size: 63px;
    font-weight: bold;
}

.portfolio_items {
    padding-top: 20px;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.footer {
    height: auto;
    position: absolute;
    bottom: 0;
    width: 95%;
}

.footer-table {
    margin: 0 0;
}

ul#footer-list {
    list-style: none;
    padding-left: 0;
}

ul#footer-list li {
    display: inline;
    padding-right: 20px;
}

.gap {
    margin-top: 100px;
    display: block;
}

.hr-footer {
    border-top: 1px solid #8c8b8b;
    text-align: center;
}

.hr-footer:after {
    content: '§';
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    background: #f8f8f8;
    color: #8c8b8b;
    font-size: 18px;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.to-be-continued {
    margin-top: 100px;
}

#blog_body {
    width: 100%;
    height: 500px;
}

.navbar-inverse {
    background-color: #337ab7;
    border-color: #337ab7;
    margin-bottom: 10px;
}

.navbar-nav li a {
    color: #1d1a1a;
}

.navbar-nav li.active a {
    background-color: #337ab7 !important;
}
.navbar-nav li a{
    transition: all 0.2s;
}
.navbar-nav li a:hover{
    text-shadow: 5px 5px 5px black;
}

.navbar-brand {
    color: #fff !important;
    transition: all 0.2s;
}
.navbar-brand:hover{
    text-shadow: 5px 5px 5px black;
}